.content-list12-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list12-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list12-content {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list12-ul {
  align-items: flex-start;
}
 
.content-list12-heading1 {
  align-self: flex-start;
}
 
.content-list12-fragment10 {
  display: contents;
}
 
.content-list12-text10 {
  display: inline-block;
}
 
.content-list12-fragment11 {
  display: contents;
}
 
.content-list12-text11 {
  display: inline-block;
}
 
.content-list12-fragment12 {
  display: contents;
}
 
.content-list12-text12 {
  display: inline-block;
}
 
.content-list12-fragment13 {
  display: contents;
}
 
.content-list12-text13 {
  display: inline-block;
}
 
.content-list12-fragment14 {
  display: contents;
}
 
.content-list12-text14 {
  display: inline-block;
}
 
.content-list12-fragment15 {
  display: contents;
}
 
.content-list12-text15 {
  display: inline-block;
}
 
.content-list12-fragment16 {
  display: contents;
}
 
.content-list12-text16 {
  display: inline-block;
}
 
.content-list12-fragment17 {
  display: contents;
}
 
.content-list12-text17 {
  display: inline-block;
}
 
.content-list12-fragment18 {
  display: contents;
}
 
.content-list12-text18 {
  display: inline-block;
}
 
.content-list12-fragment19 {
  display: contents;
}
 
.content-list12-text19 {
  display: inline-block;
}
